{% extends 'base.html' %}
{% load persian_numbers %}
{% block content %}
    <div class="main-content font-size-13">
        <style>
            .main-content a {
                color: #000 !important;
            }
        </style>
        <div class="tab__box">
            <div class="tab__items">
                <a class="tab__item is-active" href="{% url 'file_list' %}">لیست فایل ها</a>
                <a class="tab__item" href="{% url 'send_file' %}">ارسال یک فایل جدید</a>
            </div>
        </div>
        {% for message in messages %}
        <div style="background-color: rgb(198, 255, 198); padding: 10px; border-radius: 5px; margin-bottom: 20px;">{{ message }}</div>
        {% endfor %}
        <div class="table__box">
            <table class="table">
                <thead role="rowgroup">
                    <tr role="row" class="title-row">
                        <th>نام فایل</th>
                        <th>ارسال کننده</th>
                        <th>تاریخ و زمان ارسال</th>
                        <th>وضعیت</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in received_files %}
                        <tr role="row" class="">
                            <td><a href="{% url 'download_file' file.id %}">{{ file.name }}</a></td>

                            <td>{{ file.sender.first_name }} {{ file.sender.last_name }}</td>
                            <td>{{ file.created_at|date:'Y/m/d, H:i'|persian_numbers }}</td>
                            <td>{{ file.seen|yesno:"مشاهده شده ✅,مشاهده نشده ❌" }}</td>
                            <td>
                                <a href="{% url 'download_file' file.id %}" class="item-eye mlg-15" title="دریافت فایل"></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="6">شما تا کنون هیچ فایلی دریافت نکرده اید!</td></tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}