{% extends "base.html" %}
{% block content %}
{% load persian_numbers %}
{% load static %}
<div class="bg-white padding-20" style="margin: 20px 20px 0 20px;">

    <h2 style="text-align: center;">رزرو ناهار</h2>
    <p style="text-align: center;">با انتخاب هر روز، ناهار آن روز برای شما رزرو می شود. هر روز تا ساعت ۷ صبح زمان دارید
        تا رزرو روز بعد را ثبت و یا کنسل نمایید.</p>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
</div>

<div class="table__box" style="padding: 20px;">
    <form method="post" action="{% url 'reserve_lunch' %}">
        {% csrf_token %}
        <table class="table" style="border-spacing: 0;">
            <thead>
                <tr class="title-row">
                    <th>روز</th>
                    <th>تاریخ</th>
                    <th>وضعیت رزرو</th>
                </tr>
            </thead>
            <tbody>
                {% for day, date, is_reserved in dates %}
                <tr>
                    <td>{{ day }}</td>
                    <td>{{ date|persian_numbers }}</td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="{{ date }}"
                            id="date{{ forloop.counter }}" name="selected_dates" {% if is_reserved %}checked{% endif %}>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if messages %}
        <div class="alert alert-success" role="alert" id="success-message"
            style="text-align: center; margin-top: 1rem;">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-danger" role="alert" style="text-align: center; margin-top: 1rem;">
            {{ error }}
        </div>
        {% endif %}
        <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn btn-netcopy_net"
                style=" margin-top: 1rem; display: block; padding: 10px 20% 10px 20%;">ثبت
                تغییرات</button>
        </div>
    </form>
</div>
{% endblock %}