<!DOCTYPE html>
{% load static %}
{% load persian_numbers %}
{% load pwa %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پنل یکپارچه متافن</title>
    <link rel="stylesheet" href="/static/temp/css/style.css">
    <link rel="stylesheet" href="/static/temp/css/responsive_991.css" media="(max-width:991px)">
    <link rel="stylesheet" href="/static/temp/css/responsive_768.css" media="(max-width:768px)">
    <link rel="stylesheet" href="/static/temp/css/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% progressive_web_app_meta %}
</head>

<body>
    <div class="sidebar__nav border-top border-left  ">
        <span class="bars d-none padding-0-18"></span>
        <a class="header__logo  d-none" href="https://panel.metafan.info"></a>
        {% if user.avatar %}
        <div class="profile__info border cursor-pointer text-center">
            <div class="avatar__img"><img src="{{user.avatar.url}}" class="avatar___img">
            </div>
            <span class="profile__name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
        </div>
        {% else %}
        <div class="profile__info border cursor-pointer text-center">
            <div class="avatar__img"><img src="/static/temp/img/pro.jpg" class="avatar___img">
            </div>
            <span class="profile__name">پنل {{ request.user.first_name }} {{ request.user.last_name }}</span>
        </div>
        {% endif %}
        {% if user.is_file and user.is_staff%}
        <ul>
            <li class="item-li i-dashboard {% if request.resolver_match.url_name == 'home' %}is-active{% endif %}"><a
                    href="{% url 'home' %}">پیشخوان</a></li>
            <li
                class="item-li i-transactions {% if request.resolver_match.url_name == 'attendance' or request.resolver_match.url_name == 'attendance_list' %}is-active{% endif %}">
                <a href="{% url 'attendance_list' %}">ساعت ورود و خروج</a>
            </li>
            <li
                class="item-li i-courses {% if request.resolver_match.url_name == 'reserve_lunch' %}is-active{% endif %}">
                <a href="{% url 'reserve_lunch' %}">رزرو ناهار</a>
            </li>
            <li
                class="item-li i-user__inforamtion {% if request.resolver_match.url_name == 'monthly_report' or request.resolver_match.url_name == 'last_report' %}is-active{% endif %}">
                <a href="{% url 'last_report' %}">گزارش ماهانه</a>
            </li>
            <li
                class="item-li i-categories {% if request.resolver_match.url_name == 'season_survey' %}is-active{% endif %}">
                <a href="{% url 'season_survey' %}">نظرسنجی فصلی</a>
            </li>
            <li
                class="item-li i-articles {% if request.resolver_match.url_name == 'file_list' or request.resolver_match.url_name == 'send_file'%}is-active{% endif %}">
                <a href="{% url 'file_list' %}">مدیریت فایل ها</a>
            </li>
            <li
                class="item-li i-slideshow {% if request.resolver_match.url_name == 'payslip_list' %}is-active{% endif %}">
                <a href="{% url 'payslip_list' %}">فیش حقوقی</a>
            </li>
            <li
                class="item-li i-notification__management {% if request.resolver_match.url_name == 'messages_list' %}is-active{% endif %}">
                <a href="{% url 'messages_list' %}">پیام ها</a>
            </li>
            <li class="item-li i-users {% if request.resolver_match.url_name == 'profile_info' %}is-active{% endif %}">
                <a href="{% url 'profile_info' %}">اطلاعات کاربری</a>
            </li>
        </ul>
        {% elif user.is_file and not user.is_staff %}
        <ul>
            <li
                class="item-li i-articles {% if request.resolver_match.url_name == 'file_list' or 'send_file'%}is-active{% endif %}">
                <a href="{% url 'file_list' %}">مدیریت فایل ها</a>
            </li>
        </ul>
        {% endif %}
    </div>
    <div class="content">
        <div class="header d-flex item-center bg-white width-100 border-bottom padding-12-30">
            <div class="header__right d-flex flex-grow-1 item-center">
                <span class="bars"></span>
                <a class="header__logo" href="https://netcopy.ir"></a>
            </div>
            <div class="header__left d-flex flex-end item-center margin-top-2">
                <span style="padding-left: 10px;" class="account-balance font-size-12"> <b>جمع کارکرد این ماه شما:</b>
                    {{ this_month_total_price|persian_numbers }} تومان</span>

                <a href="/panel/log-out" class="logout" title="خروج"></a>
            </div>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html" title="پیشخوان">پیشخوان متافن</a></li>
            </ul>
        </div>

        {% block content %}
        {% endblock content %}


    </div>

</body>
<script src="/static/temp/js/jquery-3.4.1.min.js"></script>
<script src="/static/temp/js/js.js"></script>

</html>