
{% extends "base.html" %}

{% block title %}داشبورد متافن{% endblock %}

{% block content %}
{% load static %}
    <p>سلام {{ request.user.first_name }} {{ request.user.last_name }}، خوش آمدید!</p>
    <a href="{% url 'account_logout' %}" class="logout-button">خروج از حساب کاربری</a>
    <h2>داشبورد پنل کاربری متافن</h2>
    <p>برای دسترسی به بخش‌های مختلف پنل، روی دایره‌های زیر کلیک کنید:</p>
    <div>
        <a href="{% url 'reserve_lunch' %}" class="circle-link">
            <div class="circle-img">
                <img src="{% static 'images/lunch-icon.webp' %}" alt="ناهار">
            </div>
            <div class="circle-text">رزرو ناهار</div>
        </a>
        <a href="{% url 'monthly_report' %}" class="circle-link">
            <div class="circle-img">
                <img src="{% static 'images/monthly-report-icon.webp' %}" alt="گزارش ماهانه">
            </div>
            <div class="circle-text">گزارش ماهانه</div>
        </a>
        <a href="{% url 'season_survey' %}" class="circle-link">
            <div class="circle-img">
                <img src="{% static 'images/season-survey-icon.webp' %}" alt="نظرسجی فصلی">
            </div>
            <div class="circle-text">نظرسجی فصلی</div>
        </a>
        <a href="{% url 'payslip_list' %}" class="circle-link">
            <div class="circle-img">
                <img src="{% static 'images/season-survey-icon.webp' %}" alt="فیش حقوقی">
            </div>
            <div class="circle-text">فیش حقوقی</div>
        </a>
        <a href="{% url 'messages_list' %}" class="circle-link">
            <div class="circle-img">
                <img src="{% static 'images/season-survey-icon.webp' %}" alt="پیام ها">
            </div>
            <div class="circle-text">پیام ها</div>
        </a>
    </div>
{% endblock %}
